:root {
  --text-color: #ffffff;
  --text-color-hover: #373c40;
  --button-bg-color: rgba(0, 0, 0, 0.35);
  --button-bg-color-hover: #d1d4de;
  --menu-bg-color: rgba(48, 52, 56, 0.55);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: linear-gradient(
    to bottom,
    rgba(70, 76, 81, 1),
    rgba(80, 88, 96, 1)
  );
  height: 100vh;
  font-family: var(--font-inter), Arial;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
